<table id="filelist">
    <tr><td><a href="browser.php?dir=./Backups"><i class="icon-folder-close"></i>Backups</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Installs"><i class="icon-folder-close"></i>Installs</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./ManualBackups"><i class="icon-folder-close"></i>ManualBackups</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Music"><i class="icon-folder-close"></i>Music</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Pics"><i class="icon-folder-close"></i>Pics</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Share"><i class="icon-folder-close"></i>Share</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Sync"><i class="icon-folder-close"></i>Sync</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./Videos"><i class="icon-folder-close"></i>Videos</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./angular-phonecat"><i class="icon-folder-close"></i>angular-phonecat</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./dev"><i class="icon-folder-close"></i>dev</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="./example.html"><i class="icon-file-alt"></i>example.html</a></td><td><span class="button small">25.67kB</span></td></tr>
    <tr><td><a href="browser.php?dir=./lotto"><i class="icon-folder-close"></i>lotto</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./plexWatch"><i class="icon-folder-close"></i>plexWatch</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./usher"><i class="icon-folder-close"></i>usher</a></td><td>&nbsp;</td></tr>
    <tr><td><a href="browser.php?dir=./usher-angular"><i class="icon-folder-close"></i>usher-angular</a></td><td>&nbsp;</td></tr>
</table>
